@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
</head>
<body>
    <div>
       WEllcome to the CICD test architecture of confulence !!!

        Push time build run testing
    </div>
</body>
</html>
